<footer class="mt-auto text-center py-10 px-4 bg-gray-50 text-gray-600">
    <address class="not-italic">
        <small class="text-sm">by <a class="underline hover:no-underline" href="https://twitter.com/burnworks" target="_blank">@burnworks</a></small>
    </address>
</footer>
