<div class="table-content">
	<table lang="en">
		<caption>Repetition Maximum Conversion Table (One Repetition Maximum Conversion)</caption>
		<thead>
			<tr>
				<td>Kg / Reps</td>
				<th scope="col">2</th>
				<th scope="col">3</th>
				<th scope="col">4</th>
				<th scope="col">5</th>
				<th scope="col">6</th>
				<th scope="col">7</th>
				<th scope="col">8</th>
				<th scope="col">9</th>
				<th scope="col">10</th>
				<th scope="col">11</th>
				<th scope="col">12</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">40</th>
				<td tabindex="0">42</td>
				<td tabindex="0">43</td>
				<td tabindex="0">44</td>
				<td tabindex="0">45</td>
				<td tabindex="0">46</td>
				<td tabindex="0">47</td>
				<td tabindex="0">48</td>
				<td tabindex="0">49</td>
				<td tabindex="0">50</td>
				<td tabindex="0">51</td>
				<td tabindex="0">52</td>
			</tr>
			<tr>
				<th scope="row">42.5</th>
				<td tabindex="0">45</td>
				<td tabindex="0">46</td>
				<td tabindex="0">47</td>
				<td tabindex="0">48</td>
				<td tabindex="0">49</td>
				<td tabindex="0">50</td>
				<td tabindex="0">51</td>
				<td tabindex="0">52</td>
				<td tabindex="0">53</td>
				<td tabindex="0">54</td>
				<td tabindex="0">55</td>
			</tr>
			<tr>
				<th scope="row">45</th>
				<td tabindex="0">47</td>
				<td tabindex="0">48</td>
				<td tabindex="0">50</td>
				<td tabindex="0">51</td>
				<td tabindex="0">52</td>
				<td tabindex="0">53</td>
				<td tabindex="0">54</td>
				<td tabindex="0">55</td>
				<td tabindex="0">56</td>
				<td tabindex="0">57</td>
				<td tabindex="0">59</td>
			</tr>
			<tr>
				<th scope="row">47.5</th>
				<td tabindex="0">50</td>
				<td tabindex="0">51</td>
				<td tabindex="0">52</td>
				<td tabindex="0">53</td>
				<td tabindex="0">55</td>
				<td tabindex="0">56</td>
				<td tabindex="0">57</td>
				<td tabindex="0">58</td>
				<td tabindex="0">59</td>
				<td tabindex="0">61</td>
				<td tabindex="0">62</td>
			</tr>
			<tr>
				<th scope="row">50</th>
				<td tabindex="0">53</td>
				<td tabindex="0">54</td>
				<td tabindex="0">55</td>
				<td tabindex="0">56</td>
				<td tabindex="0">58</td>
				<td tabindex="0">59</td>
				<td tabindex="0">60</td>
				<td tabindex="0">61</td>
				<td tabindex="0">63</td>
				<td tabindex="0">64</td>
				<td tabindex="0">65</td>
			</tr>
			<tr>
				<th scope="row">52.5</th>
				<td tabindex="0">55</td>
				<td tabindex="0">56</td>
				<td tabindex="0">58</td>
				<td tabindex="0">59</td>
				<td tabindex="0">60</td>
				<td tabindex="0">62</td>
				<td tabindex="0">63</td>
				<td tabindex="0">64</td>
				<td tabindex="0">66</td>
				<td tabindex="0">67</td>
				<td tabindex="0">68</td>
			</tr>
			<tr>
				<th scope="row">55</th>
				<td tabindex="0">58</td>
				<td tabindex="0">59</td>
				<td tabindex="0">61</td>
				<td tabindex="0">62</td>
				<td tabindex="0">63</td>
				<td tabindex="0">65</td>
				<td tabindex="0">66</td>
				<td tabindex="0">67</td>
				<td tabindex="0">69</td>
				<td tabindex="0">70</td>
				<td tabindex="0">72</td>
			</tr>
			<tr>
				<th scope="row">57.5</th>
				<td tabindex="0">60</td>
				<td tabindex="0">62</td>
				<td tabindex="0">63</td>
				<td tabindex="0">65</td>
				<td tabindex="0">66</td>
				<td tabindex="0">68</td>
				<td tabindex="0">69</td>
				<td tabindex="0">70</td>
				<td tabindex="0">72</td>
				<td tabindex="0">73</td>
				<td tabindex="0">75</td>
			</tr>
			<tr>
				<th scope="row">60</th>
				<td tabindex="0">63</td>
				<td tabindex="0">65</td>
				<td tabindex="0">66</td>
				<td tabindex="0">68</td>
				<td tabindex="0">69</td>
				<td tabindex="0">71</td>
				<td tabindex="0">72</td>
				<td tabindex="0">74</td>
				<td tabindex="0">75</td>
				<td tabindex="0">77</td>
				<td tabindex="0">78</td>
			</tr>
			<tr>
				<th scope="row">62.5</th>
				<td tabindex="0">66</td>
				<td tabindex="0">67</td>
				<td tabindex="0">69</td>
				<td tabindex="0">70</td>
				<td tabindex="0">72</td>
				<td tabindex="0">73</td>
				<td tabindex="0">75</td>
				<td tabindex="0">77</td>
				<td tabindex="0">78</td>
				<td tabindex="0">80</td>
				<td tabindex="0">81</td>
			</tr>
			<tr>
				<th scope="row">65</th>
				<td tabindex="0">68</td>
				<td tabindex="0">70</td>
				<td tabindex="0">72</td>
				<td tabindex="0">73</td>
				<td tabindex="0">75</td>
				<td tabindex="0">76</td>
				<td tabindex="0">78</td>
				<td tabindex="0">80</td>
				<td tabindex="0">81</td>
				<td tabindex="0">83</td>
				<td tabindex="0">85</td>
			</tr>
			<tr>
				<th scope="row">67.5</th>
				<td tabindex="0">71</td>
				<td tabindex="0">73</td>
				<td tabindex="0">74</td>
				<td tabindex="0">76</td>
				<td tabindex="0">78</td>
				<td tabindex="0">79</td>
				<td tabindex="0">81</td>
				<td tabindex="0">83</td>
				<td tabindex="0">84</td>
				<td tabindex="0">86</td>
				<td tabindex="0">88</td>
			</tr>
			<tr>
				<th scope="row">70</th>
				<td tabindex="0">74</td>
				<td tabindex="0">75</td>
				<td tabindex="0">77</td>
				<td tabindex="0">79</td>
				<td tabindex="0">81</td>
				<td tabindex="0">82</td>
				<td tabindex="0">84</td>
				<td tabindex="0">86</td>
				<td tabindex="0">88</td>
				<td tabindex="0">89</td>
				<td tabindex="0">91</td>
			</tr>
			<tr>
				<th scope="row">72.5</th>
				<td tabindex="0">76</td>
				<td tabindex="0">78</td>
				<td tabindex="0">80</td>
				<td tabindex="0">82</td>
				<td tabindex="0">83</td>
				<td tabindex="0">85</td>
				<td tabindex="0">87</td>
				<td tabindex="0">89</td>
				<td tabindex="0">91</td>
				<td tabindex="0">92</td>
				<td tabindex="0">94</td>
			</tr>
			<tr>
				<th scope="row">75</th>
				<td tabindex="0">79</td>
				<td tabindex="0">81</td>
				<td tabindex="0">83</td>
				<td tabindex="0">84</td>
				<td tabindex="0">86</td>
				<td tabindex="0">88</td>
				<td tabindex="0">90</td>
				<td tabindex="0">92</td>
				<td tabindex="0">94</td>
				<td tabindex="0">96</td>
				<td tabindex="0">98</td>
			</tr>
			<tr>
				<th scope="row">77.5</th>
				<td tabindex="0">81</td>
				<td tabindex="0">83</td>
				<td tabindex="0">85</td>
				<td tabindex="0">87</td>
				<td tabindex="0">89</td>
				<td tabindex="0">91</td>
				<td tabindex="0">93</td>
				<td tabindex="0">95</td>
				<td tabindex="0">97</td>
				<td tabindex="0">99</td>
				<td tabindex="0">101</td>
			</tr>
			<tr>
				<th scope="row">80</th>
				<td tabindex="0">84</td>
				<td tabindex="0">86</td>
				<td tabindex="0">88</td>
				<td tabindex="0">90</td>
				<td tabindex="0">92</td>
				<td tabindex="0">94</td>
				<td tabindex="0">96</td>
				<td tabindex="0">98</td>
				<td tabindex="0">100</td>
				<td tabindex="0">102</td>
				<td tabindex="0">104</td>
			</tr>
			<tr>
				<th scope="row">82.5</th>
				<td tabindex="0">87</td>
				<td tabindex="0">89</td>
				<td tabindex="0">91</td>
				<td tabindex="0">93</td>
				<td tabindex="0">95</td>
				<td tabindex="0">97</td>
				<td tabindex="0">99</td>
				<td tabindex="0">101</td>
				<td tabindex="0">103</td>
				<td tabindex="0">105</td>
				<td tabindex="0">107</td>
			</tr>
			<tr>
				<th scope="row">85</th>
				<td tabindex="0">89</td>
				<td tabindex="0">91</td>
				<td tabindex="0">94</td>
				<td tabindex="0">96</td>
				<td tabindex="0">98</td>
				<td tabindex="0">100</td>
				<td tabindex="0">102</td>
				<td tabindex="0">104</td>
				<td tabindex="0">106</td>
				<td tabindex="0">108</td>
				<td tabindex="0">111</td>
			</tr>
			<tr>
				<th scope="row">87.5</th>
				<td tabindex="0">92</td>
				<td tabindex="0">94</td>
				<td tabindex="0">96</td>
				<td tabindex="0">98</td>
				<td tabindex="0">101</td>
				<td tabindex="0">103</td>
				<td tabindex="0">105</td>
				<td tabindex="0">107</td>
				<td tabindex="0">109</td>
				<td tabindex="0">112</td>
				<td tabindex="0">114</td>
			</tr>
			<tr>
				<th scope="row">90</th>
				<td tabindex="0">95</td>
				<td tabindex="0">97</td>
				<td tabindex="0">99</td>
				<td tabindex="0">101</td>
				<td tabindex="0">104</td>
				<td tabindex="0">106</td>
				<td tabindex="0">108</td>
				<td tabindex="0">110</td>
				<td tabindex="0">113</td>
				<td tabindex="0">115</td>
				<td tabindex="0">117</td>
			</tr>
			<tr>
				<th scope="row">92.5</th>
				<td tabindex="0">97</td>
				<td tabindex="0">99</td>
				<td tabindex="0">102</td>
				<td tabindex="0">104</td>
				<td tabindex="0">106</td>
				<td tabindex="0">109</td>
				<td tabindex="0">111</td>
				<td tabindex="0">113</td>
				<td tabindex="0">116</td>
				<td tabindex="0">118</td>
				<td tabindex="0">120</td>
			</tr>
			<tr>
				<th scope="row">95</th>
				<td tabindex="0">100</td>
				<td tabindex="0">102</td>
				<td tabindex="0">105</td>
				<td tabindex="0">107</td>
				<td tabindex="0">109</td>
				<td tabindex="0">112</td>
				<td tabindex="0">114</td>
				<td tabindex="0">116</td>
				<td tabindex="0">119</td>
				<td tabindex="0">121</td>
				<td tabindex="0">124</td>
			</tr>
			<tr>
				<th scope="row">97.5</th>
				<td tabindex="0">102</td>
				<td tabindex="0">105</td>
				<td tabindex="0">107</td>
				<td tabindex="0">110</td>
				<td tabindex="0">112</td>
				<td tabindex="0">115</td>
				<td tabindex="0">117</td>
				<td tabindex="0">119</td>
				<td tabindex="0">122</td>
				<td tabindex="0">124</td>
				<td tabindex="0">127</td>
			</tr>
			<tr>
				<th scope="row">100</th>
				<td tabindex="0">105</td>
				<td tabindex="0">108</td>
				<td tabindex="0">110</td>
				<td tabindex="0">113</td>
				<td tabindex="0">115</td>
				<td tabindex="0">118</td>
				<td tabindex="0">120</td>
				<td tabindex="0">123</td>
				<td tabindex="0">125</td>
				<td tabindex="0">128</td>
				<td tabindex="0">130</td>
			</tr>
			<tr>
				<th scope="row">102.5</th>
				<td tabindex="0">108</td>
				<td tabindex="0">110</td>
				<td tabindex="0">113</td>
				<td tabindex="0">115</td>
				<td tabindex="0">118</td>
				<td tabindex="0">120</td>
				<td tabindex="0">123</td>
				<td tabindex="0">126</td>
				<td tabindex="0">128</td>
				<td tabindex="0">131</td>
				<td tabindex="0">133</td>
			</tr>
			<tr>
				<th scope="row">105</th>
				<td tabindex="0">110</td>
				<td tabindex="0">113</td>
				<td tabindex="0">116</td>
				<td tabindex="0">118</td>
				<td tabindex="0">121</td>
				<td tabindex="0">123</td>
				<td tabindex="0">126</td>
				<td tabindex="0">129</td>
				<td tabindex="0">131</td>
				<td tabindex="0">134</td>
				<td tabindex="0">137</td>
			</tr>
			<tr>
				<th scope="row">107.5</th>
				<td tabindex="0">113</td>
				<td tabindex="0">116</td>
				<td tabindex="0">118</td>
				<td tabindex="0">121</td>
				<td tabindex="0">124</td>
				<td tabindex="0">126</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">134</td>
				<td tabindex="0">137</td>
				<td tabindex="0">140</td>
			</tr>
			<tr>
				<th scope="row">110</th>
				<td tabindex="0">116</td>
				<td tabindex="0">118</td>
				<td tabindex="0">121</td>
				<td tabindex="0">124</td>
				<td tabindex="0">127</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">140</td>
				<td tabindex="0">143</td>
			</tr>
			<tr>
				<th scope="row">112.5</th>
				<td tabindex="0">118</td>
				<td tabindex="0">121</td>
				<td tabindex="0">124</td>
				<td tabindex="0">127</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">143</td>
				<td tabindex="0">146</td>
			</tr>
			<tr>
				<th scope="row">115</th>
				<td tabindex="0">121</td>
				<td tabindex="0">124</td>
				<td tabindex="0">127</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">144</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
			</tr>
			<tr>
				<th scope="row">117.5</th>
				<td tabindex="0">123</td>
				<td tabindex="0">126</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">144</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
			</tr>
			<tr>
				<th scope="row">120</th>
				<td tabindex="0">126</td>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">144</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">156</td>
			</tr>
			<tr>
				<th scope="row">122.5</th>
				<td tabindex="0">129</td>
				<td tabindex="0">132</td>
				<td tabindex="0">135</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">144</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">156</td>
				<td tabindex="0">159</td>
			</tr>
			<tr>
				<th scope="row">125</th>
				<td tabindex="0">131</td>
				<td tabindex="0">134</td>
				<td tabindex="0">138</td>
				<td tabindex="0">141</td>
				<td tabindex="0">144</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">156</td>
				<td tabindex="0">159</td>
				<td tabindex="0">163</td>
			</tr>
			<tr>
				<th scope="row">127.5</th>
				<td tabindex="0">134</td>
				<td tabindex="0">137</td>
				<td tabindex="0">140</td>
				<td tabindex="0">143</td>
				<td tabindex="0">147</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">156</td>
				<td tabindex="0">159</td>
				<td tabindex="0">163</td>
				<td tabindex="0">166</td>
			</tr>
			<tr>
				<th scope="row">130</th>
				<td tabindex="0">137</td>
				<td tabindex="0">140</td>
				<td tabindex="0">143</td>
				<td tabindex="0">146</td>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">156</td>
				<td tabindex="0">159</td>
				<td tabindex="0">163</td>
				<td tabindex="0">166</td>
				<td tabindex="0">169</td>
			</tr>
			<tr>
				<th scope="row">132.5</th>
				<td tabindex="0">139</td>
				<td tabindex="0">142</td>
				<td tabindex="0">146</td>
				<td tabindex="0">149</td>
				<td tabindex="0">152</td>
				<td tabindex="0">156</td>
				<td tabindex="0">159</td>
				<td tabindex="0">162</td>
				<td tabindex="0">166</td>
				<td tabindex="0">169</td>
				<td tabindex="0">172</td>
			</tr>
			<tr>
				<th scope="row">135</th>
				<td tabindex="0">142</td>
				<td tabindex="0">145</td>
				<td tabindex="0">149</td>
				<td tabindex="0">152</td>
				<td tabindex="0">155</td>
				<td tabindex="0">159</td>
				<td tabindex="0">162</td>
				<td tabindex="0">165</td>
				<td tabindex="0">169</td>
				<td tabindex="0">172</td>
				<td tabindex="0">176</td>
			</tr>
			<tr>
				<th scope="row">137.5</th>
				<td tabindex="0">144</td>
				<td tabindex="0">148</td>
				<td tabindex="0">151</td>
				<td tabindex="0">155</td>
				<td tabindex="0">158</td>
				<td tabindex="0">162</td>
				<td tabindex="0">165</td>
				<td tabindex="0">168</td>
				<td tabindex="0">172</td>
				<td tabindex="0">175</td>
				<td tabindex="0">179</td>
			</tr>
			<tr>
				<th scope="row">140</th>
				<td tabindex="0">147</td>
				<td tabindex="0">151</td>
				<td tabindex="0">154</td>
				<td tabindex="0">158</td>
				<td tabindex="0">161</td>
				<td tabindex="0">165</td>
				<td tabindex="0">168</td>
				<td tabindex="0">172</td>
				<td tabindex="0">175</td>
				<td tabindex="0">179</td>
				<td tabindex="0">182</td>
			</tr>
			<tr>
				<th scope="row">142.5</th>
				<td tabindex="0">150</td>
				<td tabindex="0">153</td>
				<td tabindex="0">157</td>
				<td tabindex="0">160</td>
				<td tabindex="0">164</td>
				<td tabindex="0">167</td>
				<td tabindex="0">171</td>
				<td tabindex="0">175</td>
				<td tabindex="0">178</td>
				<td tabindex="0">182</td>
				<td tabindex="0">185</td>
			</tr>
			<tr>
				<th scope="row">145</th>
				<td tabindex="0">152</td>
				<td tabindex="0">156</td>
				<td tabindex="0">160</td>
				<td tabindex="0">163</td>
				<td tabindex="0">167</td>
				<td tabindex="0">170</td>
				<td tabindex="0">174</td>
				<td tabindex="0">178</td>
				<td tabindex="0">181</td>
				<td tabindex="0">185</td>
				<td tabindex="0">189</td>
			</tr>
			<tr>
				<th scope="row">147.5</th>
				<td tabindex="0">155</td>
				<td tabindex="0">159</td>
				<td tabindex="0">162</td>
				<td tabindex="0">166</td>
				<td tabindex="0">170</td>
				<td tabindex="0">173</td>
				<td tabindex="0">177</td>
				<td tabindex="0">181</td>
				<td tabindex="0">184</td>
				<td tabindex="0">188</td>
				<td tabindex="0">192</td>
			</tr>
			<tr>
				<th scope="row">150</th>
				<td tabindex="0">158</td>
				<td tabindex="0">161</td>
				<td tabindex="0">165</td>
				<td tabindex="0">169</td>
				<td tabindex="0">173</td>
				<td tabindex="0">176</td>
				<td tabindex="0">180</td>
				<td tabindex="0">184</td>
				<td tabindex="0">188</td>
				<td tabindex="0">191</td>
				<td tabindex="0">195</td>
			</tr>
			<tr>
				<th scope="row">152.5</th>
				<td tabindex="0">160</td>
				<td tabindex="0">164</td>
				<td tabindex="0">168</td>
				<td tabindex="0">172</td>
				<td tabindex="0">175</td>
				<td tabindex="0">179</td>
				<td tabindex="0">183</td>
				<td tabindex="0">187</td>
				<td tabindex="0">191</td>
				<td tabindex="0">194</td>
				<td tabindex="0">198</td>
			</tr>
			<tr>
				<th scope="row">155</th>
				<td tabindex="0">163</td>
				<td tabindex="0">167</td>
				<td tabindex="0">171</td>
				<td tabindex="0">174</td>
				<td tabindex="0">178</td>
				<td tabindex="0">182</td>
				<td tabindex="0">186</td>
				<td tabindex="0">190</td>
				<td tabindex="0">194</td>
				<td tabindex="0">198</td>
				<td tabindex="0">202</td>
			</tr>
			<tr>
				<th scope="row">157.5</th>
				<td tabindex="0">165</td>
				<td tabindex="0">169</td>
				<td tabindex="0">173</td>
				<td tabindex="0">177</td>
				<td tabindex="0">181</td>
				<td tabindex="0">185</td>
				<td tabindex="0">189</td>
				<td tabindex="0">193</td>
				<td tabindex="0">197</td>
				<td tabindex="0">201</td>
				<td tabindex="0">205</td>
			</tr>
			<tr>
				<th scope="row">160</th>
				<td tabindex="0">168</td>
				<td tabindex="0">172</td>
				<td tabindex="0">176</td>
				<td tabindex="0">180</td>
				<td tabindex="0">184</td>
				<td tabindex="0">188</td>
				<td tabindex="0">192</td>
				<td tabindex="0">196</td>
				<td tabindex="0">200</td>
				<td tabindex="0">204</td>
				<td tabindex="0">208</td>
			</tr>
			<tr>
				<th scope="row">162.5</th>
				<td tabindex="0">171</td>
				<td tabindex="0">175</td>
				<td tabindex="0">179</td>
				<td tabindex="0">183</td>
				<td tabindex="0">187</td>
				<td tabindex="0">191</td>
				<td tabindex="0">195</td>
				<td tabindex="0">199</td>
				<td tabindex="0">203</td>
				<td tabindex="0">207</td>
				<td tabindex="0">211</td>
			</tr>
			<tr>
				<th scope="row">165</th>
				<td tabindex="0">173</td>
				<td tabindex="0">177</td>
				<td tabindex="0">182</td>
				<td tabindex="0">186</td>
				<td tabindex="0">190</td>
				<td tabindex="0">194</td>
				<td tabindex="0">198</td>
				<td tabindex="0">202</td>
				<td tabindex="0">206</td>
				<td tabindex="0">210</td>
				<td tabindex="0">215</td>
			</tr>
			<tr>
				<th scope="row">167.5</th>
				<td tabindex="0">176</td>
				<td tabindex="0">180</td>
				<td tabindex="0">184</td>
				<td tabindex="0">188</td>
				<td tabindex="0">193</td>
				<td tabindex="0">197</td>
				<td tabindex="0">201</td>
				<td tabindex="0">205</td>
				<td tabindex="0">209</td>
				<td tabindex="0">214</td>
				<td tabindex="0">218</td>
			</tr>
			<tr>
				<th scope="row">170</th>
				<td tabindex="0">179</td>
				<td tabindex="0">183</td>
				<td tabindex="0">187</td>
				<td tabindex="0">191</td>
				<td tabindex="0">196</td>
				<td tabindex="0">200</td>
				<td tabindex="0">204</td>
				<td tabindex="0">208</td>
				<td tabindex="0">213</td>
				<td tabindex="0">217</td>
				<td tabindex="0">221</td>
			</tr>
			<tr>
				<th scope="row">172.5</th>
				<td tabindex="0">181</td>
				<td tabindex="0">185</td>
				<td tabindex="0">190</td>
				<td tabindex="0">194</td>
				<td tabindex="0">198</td>
				<td tabindex="0">203</td>
				<td tabindex="0">207</td>
				<td tabindex="0">211</td>
				<td tabindex="0">216</td>
				<td tabindex="0">220</td>
				<td tabindex="0">224</td>
			</tr>
			<tr>
				<th scope="row">175</th>
				<td tabindex="0">184</td>
				<td tabindex="0">188</td>
				<td tabindex="0">193</td>
				<td tabindex="0">197</td>
				<td tabindex="0">201</td>
				<td tabindex="0">206</td>
				<td tabindex="0">210</td>
				<td tabindex="0">214</td>
				<td tabindex="0">219</td>
				<td tabindex="0">223</td>
				<td tabindex="0">228</td>
			</tr>
			<tr>
				<th scope="row">177.5</th>
				<td tabindex="0">186</td>
				<td tabindex="0">191</td>
				<td tabindex="0">195</td>
				<td tabindex="0">200</td>
				<td tabindex="0">204</td>
				<td tabindex="0">209</td>
				<td tabindex="0">213</td>
				<td tabindex="0">217</td>
				<td tabindex="0">222</td>
				<td tabindex="0">226</td>
				<td tabindex="0">231</td>
			</tr>
			<tr>
				<th scope="row">180</th>
				<td tabindex="0">189</td>
				<td tabindex="0">194</td>
				<td tabindex="0">198</td>
				<td tabindex="0">203</td>
				<td tabindex="0">207</td>
				<td tabindex="0">212</td>
				<td tabindex="0">216</td>
				<td tabindex="0">221</td>
				<td tabindex="0">225</td>
				<td tabindex="0">230</td>
				<td tabindex="0">234</td>
			</tr>
			<tr>
				<th scope="row">182.5</th>
				<td tabindex="0">192</td>
				<td tabindex="0">196</td>
				<td tabindex="0">201</td>
				<td tabindex="0">205</td>
				<td tabindex="0">210</td>
				<td tabindex="0">214</td>
				<td tabindex="0">219</td>
				<td tabindex="0">224</td>
				<td tabindex="0">228</td>
				<td tabindex="0">233</td>
				<td tabindex="0">237</td>
			</tr>
			<tr>
				<th scope="row">185</th>
				<td tabindex="0">194</td>
				<td tabindex="0">199</td>
				<td tabindex="0">204</td>
				<td tabindex="0">208</td>
				<td tabindex="0">213</td>
				<td tabindex="0">217</td>
				<td tabindex="0">222</td>
				<td tabindex="0">227</td>
				<td tabindex="0">231</td>
				<td tabindex="0">236</td>
				<td tabindex="0">241</td>
			</tr>
			<tr>
				<th scope="row">187.5</th>
				<td tabindex="0">197</td>
				<td tabindex="0">202</td>
				<td tabindex="0">206</td>
				<td tabindex="0">211</td>
				<td tabindex="0">216</td>
				<td tabindex="0">220</td>
				<td tabindex="0">225</td>
				<td tabindex="0">230</td>
				<td tabindex="0">234</td>
				<td tabindex="0">239</td>
				<td tabindex="0">244</td>
			</tr>
			<tr>
				<th scope="row">190</th>
				<td tabindex="0">200</td>
				<td tabindex="0">204</td>
				<td tabindex="0">209</td>
				<td tabindex="0">214</td>
				<td tabindex="0">219</td>
				<td tabindex="0">223</td>
				<td tabindex="0">228</td>
				<td tabindex="0">233</td>
				<td tabindex="0">238</td>
				<td tabindex="0">242</td>
				<td tabindex="0">247</td>
			</tr>
			<tr>
				<th scope="row">192.5</th>
				<td tabindex="0">202</td>
				<td tabindex="0">207</td>
				<td tabindex="0">212</td>
				<td tabindex="0">217</td>
				<td tabindex="0">221</td>
				<td tabindex="0">226</td>
				<td tabindex="0">231</td>
				<td tabindex="0">236</td>
				<td tabindex="0">241</td>
				<td tabindex="0">245</td>
				<td tabindex="0">250</td>
			</tr>
			<tr>
				<th scope="row">195</th>
				<td tabindex="0">205</td>
				<td tabindex="0">210</td>
				<td tabindex="0">215</td>
				<td tabindex="0">219</td>
				<td tabindex="0">224</td>
				<td tabindex="0">229</td>
				<td tabindex="0">234</td>
				<td tabindex="0">239</td>
				<td tabindex="0">244</td>
				<td tabindex="0">249</td>
				<td tabindex="0">254</td>
			</tr>
			<tr>
				<th scope="row">197.5</th>
				<td tabindex="0">207</td>
				<td tabindex="0">212</td>
				<td tabindex="0">217</td>
				<td tabindex="0">222</td>
				<td tabindex="0">227</td>
				<td tabindex="0">232</td>
				<td tabindex="0">237</td>
				<td tabindex="0">242</td>
				<td tabindex="0">247</td>
				<td tabindex="0">252</td>
				<td tabindex="0">257</td>
			</tr>
			<tr>
				<th scope="row">200</th>
				<td tabindex="0">210</td>
				<td tabindex="0">215</td>
				<td tabindex="0">220</td>
				<td tabindex="0">225</td>
				<td tabindex="0">230</td>
				<td tabindex="0">235</td>
				<td tabindex="0">240</td>
				<td tabindex="0">245</td>
				<td tabindex="0">250</td>
				<td tabindex="0">255</td>
				<td tabindex="0">260</td>
			</tr>
			<tr>
				<th scope="row">202.5</th>
				<td tabindex="0">213</td>
				<td tabindex="0">218</td>
				<td tabindex="0">223</td>
				<td tabindex="0">228</td>
				<td tabindex="0">233</td>
				<td tabindex="0">238</td>
				<td tabindex="0">243</td>
				<td tabindex="0">248</td>
				<td tabindex="0">253</td>
				<td tabindex="0">258</td>
				<td tabindex="0">263</td>
			</tr>
			<tr>
				<th scope="row">205</th>
				<td tabindex="0">215</td>
				<td tabindex="0">220</td>
				<td tabindex="0">226</td>
				<td tabindex="0">231</td>
				<td tabindex="0">236</td>
				<td tabindex="0">241</td>
				<td tabindex="0">246</td>
				<td tabindex="0">251</td>
				<td tabindex="0">256</td>
				<td tabindex="0">261</td>
				<td tabindex="0">267</td>
			</tr>
			<tr>
				<th scope="row">207.5</th>
				<td tabindex="0">218</td>
				<td tabindex="0">223</td>
				<td tabindex="0">228</td>
				<td tabindex="0">233</td>
				<td tabindex="0">239</td>
				<td tabindex="0">244</td>
				<td tabindex="0">249</td>
				<td tabindex="0">254</td>
				<td tabindex="0">259</td>
				<td tabindex="0">265</td>
				<td tabindex="0">270</td>
			</tr>
			<tr>
				<th scope="row">210</th>
				<td tabindex="0">221</td>
				<td tabindex="0">226</td>
				<td tabindex="0">231</td>
				<td tabindex="0">236</td>
				<td tabindex="0">242</td>
				<td tabindex="0">247</td>
				<td tabindex="0">252</td>
				<td tabindex="0">257</td>
				<td tabindex="0">263</td>
				<td tabindex="0">268</td>
				<td tabindex="0">273</td>
			</tr>
			<tr>
				<th scope="row">212.5</th>
				<td tabindex="0">223</td>
				<td tabindex="0">228</td>
				<td tabindex="0">234</td>
				<td tabindex="0">239</td>
				<td tabindex="0">244</td>
				<td tabindex="0">250</td>
				<td tabindex="0">255</td>
				<td tabindex="0">260</td>
				<td tabindex="0">266</td>
				<td tabindex="0">271</td>
				<td tabindex="0">276</td>
			</tr>
			<tr>
				<th scope="row">215</th>
				<td tabindex="0">226</td>
				<td tabindex="0">231</td>
				<td tabindex="0">237</td>
				<td tabindex="0">242</td>
				<td tabindex="0">247</td>
				<td tabindex="0">253</td>
				<td tabindex="0">258</td>
				<td tabindex="0">263</td>
				<td tabindex="0">269</td>
				<td tabindex="0">274</td>
				<td tabindex="0">280</td>
			</tr>
			<tr>
				<th scope="row">217.5</th>
				<td tabindex="0">228</td>
				<td tabindex="0">234</td>
				<td tabindex="0">239</td>
				<td tabindex="0">245</td>
				<td tabindex="0">250</td>
				<td tabindex="0">256</td>
				<td tabindex="0">261</td>
				<td tabindex="0">266</td>
				<td tabindex="0">272</td>
				<td tabindex="0">277</td>
				<td tabindex="0">283</td>
			</tr>
			<tr>
				<th scope="row">220</th>
				<td tabindex="0">231</td>
				<td tabindex="0">237</td>
				<td tabindex="0">242</td>
				<td tabindex="0">248</td>
				<td tabindex="0">253</td>
				<td tabindex="0">259</td>
				<td tabindex="0">264</td>
				<td tabindex="0">270</td>
				<td tabindex="0">275</td>
				<td tabindex="0">281</td>
				<td tabindex="0">286</td>
			</tr>
			<tr>
				<th scope="row">222.5</th>
				<td tabindex="0">234</td>
				<td tabindex="0">239</td>
				<td tabindex="0">245</td>
				<td tabindex="0">250</td>
				<td tabindex="0">256</td>
				<td tabindex="0">261</td>
				<td tabindex="0">267</td>
				<td tabindex="0">273</td>
				<td tabindex="0">278</td>
				<td tabindex="0">284</td>
				<td tabindex="0">289</td>
			</tr>
			<tr>
				<th scope="row">225</th>
				<td tabindex="0">236</td>
				<td tabindex="0">242</td>
				<td tabindex="0">248</td>
				<td tabindex="0">253</td>
				<td tabindex="0">259</td>
				<td tabindex="0">264</td>
				<td tabindex="0">270</td>
				<td tabindex="0">276</td>
				<td tabindex="0">281</td>
				<td tabindex="0">287</td>
				<td tabindex="0">293</td>
			</tr>
			<tr>
				<th scope="row">227.5</th>
				<td tabindex="0">239</td>
				<td tabindex="0">245</td>
				<td tabindex="0">250</td>
				<td tabindex="0">256</td>
				<td tabindex="0">262</td>
				<td tabindex="0">267</td>
				<td tabindex="0">273</td>
				<td tabindex="0">279</td>
				<td tabindex="0">284</td>
				<td tabindex="0">290</td>
				<td tabindex="0">296</td>
			</tr>
			<tr>
				<th scope="row">230</th>
				<td tabindex="0">242</td>
				<td tabindex="0">247</td>
				<td tabindex="0">253</td>
				<td tabindex="0">259</td>
				<td tabindex="0">265</td>
				<td tabindex="0">270</td>
				<td tabindex="0">276</td>
				<td tabindex="0">282</td>
				<td tabindex="0">288</td>
				<td tabindex="0">293</td>
				<td tabindex="0">299</td>
			</tr>
			<tr>
				<th scope="row">232.5</th>
				<td tabindex="0">244</td>
				<td tabindex="0">250</td>
				<td tabindex="0">256</td>
				<td tabindex="0">262</td>
				<td tabindex="0">267</td>
				<td tabindex="0">273</td>
				<td tabindex="0">279</td>
				<td tabindex="0">285</td>
				<td tabindex="0">291</td>
				<td tabindex="0">296</td>
				<td tabindex="0">302</td>
			</tr>
			<tr>
				<th scope="row">235</th>
				<td tabindex="0">247</td>
				<td tabindex="0">253</td>
				<td tabindex="0">259</td>
				<td tabindex="0">264</td>
				<td tabindex="0">270</td>
				<td tabindex="0">276</td>
				<td tabindex="0">282</td>
				<td tabindex="0">288</td>
				<td tabindex="0">294</td>
				<td tabindex="0">300</td>
				<td tabindex="0">306</td>
			</tr>
			<tr>
				<th scope="row">237.5</th>
				<td tabindex="0">249</td>
				<td tabindex="0">255</td>
				<td tabindex="0">261</td>
				<td tabindex="0">267</td>
				<td tabindex="0">273</td>
				<td tabindex="0">279</td>
				<td tabindex="0">285</td>
				<td tabindex="0">291</td>
				<td tabindex="0">297</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
			</tr>
			<tr>
				<th scope="row">240</th>
				<td tabindex="0">252</td>
				<td tabindex="0">258</td>
				<td tabindex="0">264</td>
				<td tabindex="0">270</td>
				<td tabindex="0">276</td>
				<td tabindex="0">282</td>
				<td tabindex="0">288</td>
				<td tabindex="0">294</td>
				<td tabindex="0">300</td>
				<td tabindex="0">306</td>
				<td tabindex="0">312</td>
			</tr>
			<tr>
				<th scope="row">242.5</th>
				<td tabindex="0">255</td>
				<td tabindex="0">261</td>
				<td tabindex="0">267</td>
				<td tabindex="0">273</td>
				<td tabindex="0">279</td>
				<td tabindex="0">285</td>
				<td tabindex="0">291</td>
				<td tabindex="0">297</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
				<td tabindex="0">315</td>
			</tr>
			<tr>
				<th scope="row">245</th>
				<td tabindex="0">257</td>
				<td tabindex="0">263</td>
				<td tabindex="0">270</td>
				<td tabindex="0">276</td>
				<td tabindex="0">282</td>
				<td tabindex="0">288</td>
				<td tabindex="0">294</td>
				<td tabindex="0">300</td>
				<td tabindex="0">306</td>
				<td tabindex="0">312</td>
				<td tabindex="0">319</td>
			</tr>
			<tr>
				<th scope="row">247.5</th>
				<td tabindex="0">260</td>
				<td tabindex="0">266</td>
				<td tabindex="0">272</td>
				<td tabindex="0">278</td>
				<td tabindex="0">285</td>
				<td tabindex="0">291</td>
				<td tabindex="0">297</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
				<td tabindex="0">316</td>
				<td tabindex="0">322</td>
			</tr>
			<tr>
				<th scope="row">250</th>
				<td tabindex="0">263</td>
				<td tabindex="0">269</td>
				<td tabindex="0">275</td>
				<td tabindex="0">281</td>
				<td tabindex="0">288</td>
				<td tabindex="0">294</td>
				<td tabindex="0">300</td>
				<td tabindex="0">306</td>
				<td tabindex="0">313</td>
				<td tabindex="0">319</td>
				<td tabindex="0">325</td>
			</tr>
			<tr>
				<th scope="row">252.5</th>
				<td tabindex="0">265</td>
				<td tabindex="0">271</td>
				<td tabindex="0">278</td>
				<td tabindex="0">284</td>
				<td tabindex="0">290</td>
				<td tabindex="0">297</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
				<td tabindex="0">316</td>
				<td tabindex="0">322</td>
				<td tabindex="0">328</td>
			</tr>
			<tr>
				<th scope="row">255</th>
				<td tabindex="0">268</td>
				<td tabindex="0">274</td>
				<td tabindex="0">281</td>
				<td tabindex="0">287</td>
				<td tabindex="0">293</td>
				<td tabindex="0">300</td>
				<td tabindex="0">306</td>
				<td tabindex="0">312</td>
				<td tabindex="0">319</td>
				<td tabindex="0">325</td>
				<td tabindex="0">332</td>
			</tr>
			<tr>
				<th scope="row">257.5</th>
				<td tabindex="0">270</td>
				<td tabindex="0">277</td>
				<td tabindex="0">283</td>
				<td tabindex="0">290</td>
				<td tabindex="0">296</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
				<td tabindex="0">315</td>
				<td tabindex="0">322</td>
				<td tabindex="0">328</td>
				<td tabindex="0">335</td>
			</tr>
			<tr>
				<th scope="row">260</th>
				<td tabindex="0">273</td>
				<td tabindex="0">280</td>
				<td tabindex="0">286</td>
				<td tabindex="0">293</td>
				<td tabindex="0">299</td>
				<td tabindex="0">306</td>
				<td tabindex="0">312</td>
				<td tabindex="0">319</td>
				<td tabindex="0">325</td>
				<td tabindex="0">332</td>
				<td tabindex="0">338</td>
			</tr>
			<tr>
				<th scope="row">262.5</th>
				<td tabindex="0">276</td>
				<td tabindex="0">282</td>
				<td tabindex="0">289</td>
				<td tabindex="0">295</td>
				<td tabindex="0">302</td>
				<td tabindex="0">308</td>
				<td tabindex="0">315</td>
				<td tabindex="0">322</td>
				<td tabindex="0">328</td>
				<td tabindex="0">335</td>
				<td tabindex="0">341</td>
			</tr>
			<tr>
				<th scope="row">265</th>
				<td tabindex="0">278</td>
				<td tabindex="0">285</td>
				<td tabindex="0">292</td>
				<td tabindex="0">298</td>
				<td tabindex="0">305</td>
				<td tabindex="0">311</td>
				<td tabindex="0">318</td>
				<td tabindex="0">325</td>
				<td tabindex="0">331</td>
				<td tabindex="0">338</td>
				<td tabindex="0">345</td>
			</tr>
			<tr>
				<th scope="row">267.5</th>
				<td tabindex="0">281</td>
				<td tabindex="0">288</td>
				<td tabindex="0">294</td>
				<td tabindex="0">301</td>
				<td tabindex="0">308</td>
				<td tabindex="0">314</td>
				<td tabindex="0">321</td>
				<td tabindex="0">328</td>
				<td tabindex="0">334</td>
				<td tabindex="0">341</td>
				<td tabindex="0">348</td>
			</tr>
			<tr>
				<th scope="row">270</th>
				<td tabindex="0">284</td>
				<td tabindex="0">290</td>
				<td tabindex="0">297</td>
				<td tabindex="0">304</td>
				<td tabindex="0">311</td>
				<td tabindex="0">317</td>
				<td tabindex="0">324</td>
				<td tabindex="0">331</td>
				<td tabindex="0">338</td>
				<td tabindex="0">344</td>
				<td tabindex="0">351</td>
			</tr>
			<tr>
				<th scope="row">272.5</th>
				<td tabindex="0">286</td>
				<td tabindex="0">293</td>
				<td tabindex="0">300</td>
				<td tabindex="0">307</td>
				<td tabindex="0">313</td>
				<td tabindex="0">320</td>
				<td tabindex="0">327</td>
				<td tabindex="0">334</td>
				<td tabindex="0">341</td>
				<td tabindex="0">347</td>
				<td tabindex="0">354</td>
			</tr>
			<tr>
				<th scope="row">275</th>
				<td tabindex="0">289</td>
				<td tabindex="0">296</td>
				<td tabindex="0">303</td>
				<td tabindex="0">309</td>
				<td tabindex="0">316</td>
				<td tabindex="0">323</td>
				<td tabindex="0">330</td>
				<td tabindex="0">337</td>
				<td tabindex="0">344</td>
				<td tabindex="0">351</td>
				<td tabindex="0">358</td>
			</tr>
			<tr>
				<th scope="row">277.5</th>
				<td tabindex="0">291</td>
				<td tabindex="0">298</td>
				<td tabindex="0">305</td>
				<td tabindex="0">312</td>
				<td tabindex="0">319</td>
				<td tabindex="0">326</td>
				<td tabindex="0">333</td>
				<td tabindex="0">340</td>
				<td tabindex="0">347</td>
				<td tabindex="0">354</td>
				<td tabindex="0">361</td>
			</tr>
			<tr>
				<th scope="row">280</th>
				<td tabindex="0">294</td>
				<td tabindex="0">301</td>
				<td tabindex="0">308</td>
				<td tabindex="0">315</td>
				<td tabindex="0">322</td>
				<td tabindex="0">329</td>
				<td tabindex="0">336</td>
				<td tabindex="0">343</td>
				<td tabindex="0">350</td>
				<td tabindex="0">357</td>
				<td tabindex="0">364</td>
			</tr>
			<tr>
				<th scope="row">282.5</th>
				<td tabindex="0">297</td>
				<td tabindex="0">304</td>
				<td tabindex="0">311</td>
				<td tabindex="0">318</td>
				<td tabindex="0">325</td>
				<td tabindex="0">332</td>
				<td tabindex="0">339</td>
				<td tabindex="0">346</td>
				<td tabindex="0">353</td>
				<td tabindex="0">360</td>
				<td tabindex="0">367</td>
			</tr>
			<tr>
				<th scope="row">285</th>
				<td tabindex="0">299</td>
				<td tabindex="0">306</td>
				<td tabindex="0">314</td>
				<td tabindex="0">321</td>
				<td tabindex="0">328</td>
				<td tabindex="0">335</td>
				<td tabindex="0">342</td>
				<td tabindex="0">349</td>
				<td tabindex="0">356</td>
				<td tabindex="0">363</td>
				<td tabindex="0">371</td>
			</tr>
			<tr>
				<th scope="row">287.5</th>
				<td tabindex="0">302</td>
				<td tabindex="0">309</td>
				<td tabindex="0">316</td>
				<td tabindex="0">323</td>
				<td tabindex="0">331</td>
				<td tabindex="0">338</td>
				<td tabindex="0">345</td>
				<td tabindex="0">352</td>
				<td tabindex="0">359</td>
				<td tabindex="0">367</td>
				<td tabindex="0">374</td>
			</tr>
			<tr>
				<th scope="row">290</th>
				<td tabindex="0">305</td>
				<td tabindex="0">312</td>
				<td tabindex="0">319</td>
				<td tabindex="0">326</td>
				<td tabindex="0">334</td>
				<td tabindex="0">341</td>
				<td tabindex="0">348</td>
				<td tabindex="0">355</td>
				<td tabindex="0">363</td>
				<td tabindex="0">370</td>
				<td tabindex="0">377</td>
			</tr>
			<tr>
				<th scope="row">292.5</th>
				<td tabindex="0">307</td>
				<td tabindex="0">314</td>
				<td tabindex="0">322</td>
				<td tabindex="0">329</td>
				<td tabindex="0">336</td>
				<td tabindex="0">344</td>
				<td tabindex="0">351</td>
				<td tabindex="0">358</td>
				<td tabindex="0">366</td>
				<td tabindex="0">373</td>
				<td tabindex="0">380</td>
			</tr>
			<tr>
				<th scope="row">295</th>
				<td tabindex="0">310</td>
				<td tabindex="0">317</td>
				<td tabindex="0">325</td>
				<td tabindex="0">332</td>
				<td tabindex="0">339</td>
				<td tabindex="0">347</td>
				<td tabindex="0">354</td>
				<td tabindex="0">361</td>
				<td tabindex="0">369</td>
				<td tabindex="0">376</td>
				<td tabindex="0">384</td>
			</tr>
			<tr>
				<th scope="row">297.5</th>
				<td tabindex="0">312</td>
				<td tabindex="0">320</td>
				<td tabindex="0">327</td>
				<td tabindex="0">335</td>
				<td tabindex="0">342</td>
				<td tabindex="0">350</td>
				<td tabindex="0">357</td>
				<td tabindex="0">364</td>
				<td tabindex="0">372</td>
				<td tabindex="0">379</td>
				<td tabindex="0">387</td>
			</tr>
			<tr>
				<th scope="row">300</th>
				<td tabindex="0">315</td>
				<td tabindex="0">323</td>
				<td tabindex="0">330</td>
				<td tabindex="0">338</td>
				<td tabindex="0">345</td>
				<td tabindex="0">353</td>
				<td tabindex="0">360</td>
				<td tabindex="0">368</td>
				<td tabindex="0">375</td>
				<td tabindex="0">383</td>
				<td tabindex="0">390</td>
			</tr>
		</tbody>
	</table>
</div>
