---
import "../styles/styles.css";
import "@fontsource-variable/noto-sans-jp";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=800" />
		<link rel="icon" type="image/x-icon" href="./favicon.ico" />
	</head>
	<body class="font-body flex flex-col min-h-dvh text-gray-900">
		<slot />
	</body>
</html>
